<div class="container-fluid">
  <app-header> </app-header>

  <main>

    <div class="toolbar">
      <div class="add-details">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
        #addEmployeeButton
        >Add New</button>
      </div>
      <div class="search-details">

        <input type="search" name="" id="" class="form-control" placeholder="search-details">

      </div>

    </div>
<!-- Area to be displayed -->
    <div class="employees black-border">

      <div class="row mt-5" *ngIf="employees.length == 0">
        <div class="col text-center">
          
          <span class="text-secondary fs-2 fm-bold fst-italic">
            therae are No details added
          </span>


        </div>
      </div>

      <!-- AREA TO BE DISPLAYED ALL THE EMPLOYEES  -->

      <div class="row mt-4" *ngFor="let employee of employeesToDisplay; let i=index">

        <div class="col">
          <app-table [employee]="employee" (onRemoveEmployee)="removeEmployee($event)" 
          (onEditEmployee)="editEmployee($event)">  </app-table>
        </div>

      </div>

    </div>

  </main>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" >
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"  style="text-align: center;" >
          Arkenea Technologies Pvt Ltd</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="empForm">
          <div class="row mt-5">
            <div class="col form-heading">
         <h5> Personal Information :  </h5>
            </div>
          </div>
          <div class="row">
            <div class="col"> 
              <input type="text" name="" id="" class="form-control" formControlName="firstName" placeholder="First Name">
            </div>           
            <div class="col">
              <input type="text" name="" id="" class="form-control" formControlName="lastName"  placeholder="Last Name">  
            </div>   
          </div>
        
          <div class="row">
            <div class="col">
<label for="datepicker" class="form-label">Birthday:</label>
<input type="date" class="form-control" formControlName="birthday"  name="" id="datepicker">
            </div>
            <div class="col">
              <div class="row">
                <h3 class="text-secondary">Gender:</h3>

              </div>
              <div class="row">
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-control" formControlName="gender"  name="gender" id="male" value="m" class="form-check-input">
                    <label for="male"   class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-control" formControlName="gender" name="gender" id="male" value="m" class="form-check-input">
                    <label for="female"  class="form-check-label">Female</label>
                  </div> 
                </div>
              </div>
            </div>
          </div>
<!-- 
          <div class="row mt-3">
            <div class="col">
              <select name="" class="form-select" id="">
                <option value="default" selected>select your name</option>
                <option *ngFor="let option of empOptions; let i=index";
                 value="{{i}}" > {{option | titlecase}} </option>
                 <option value="a">a</option>
                 <option value="b">b</option>
                 <option value="c">c</option>
                 <option value="d">d</option>
              </select>
            </div>
          </div> -->


           <div class="row mt-3">
            <div class="col">
              <label for="profile" class="form-label">Profile Image</label>
              <input type="file" class="form-control" name="" id="profile" #fileInput>
            </div>

          </div> 
<br>
          
<div class="col form-heading">
  <h5>     Corporate office   </h5>
     </div>
       
       

       
<div class="row">
  <label for="phoneNumber">Phone Number :</label>
  <div class="input-group prefix"> 
                           
    <span class="input-group-addon">+91</span>
    <input type="tel" name="input" formControlName="phoneNumber" class="form-control" placeholder="Phone Number">
  </div>
</div>  
          <div class="row ">
            <!-- <div class="col" style="display: inline;">
              <label for="phoneNumber">Phone Number :</label>
              
              <span >+91 &nbsp;</span>  <input type="tel" matInput class="form-control" value="prefixText {{name}} suffixText" formControlName="phoneNumber" placeholder="Phone-Number" name="" id="">
            </div> -->
            <!-- <div class="col">
              <input type="number" class="form-control"  formControlName="salary" placeholder="Salary(LPA)" name="" id="">
            </div> -->
          </div>
          <div class="row">
            <div class="col">
              <label for="companyLocation">Location : </label> 
           <textarea type="text" class="form-control" formControlName="companyLocation" placeholder="Location" name="" id=""> </textarea>
            </div>
          </div>

        </form>



      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()" >Insert</button>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>